<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cheers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>149503741DA5D0E000B9375A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1495038B1DA5D0E000B9375A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>149503961DA5D0E000B9375A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
